body{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
}
figure{
    width: 100%;
    max-width: 800px;
}


a {
    border-bottom : 1px solid rgba(0, 0, 0, 0.2);
    color : #333;
    text-decoration : none;
    transition : border-color 0.2s ease-in-out;
    }

h1{
    font-family: Arial;
    font-weight: bold;

}

h3{
    font-family: Arial;
    font-style: normal;
}

img{
    align-content: center;
}

#quote{
    background-color: grey;
    color:white;
    margin: 10;
}

.fancy{
    font-family: cursive;
}

footer{
    padding: 1cm;
    color:grey;

}
